#title {
  margin: 20px 0px 10px;
  font-size: 20px;
  font-weight: 600;
}

.search-bar .form-control {
  background-color: white;
  border-right: 0; 
  box-shadow: 0 0 0; 
  border-color: #ccc;
  font-size: 14px;
}

.restaurant {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.restaurant li {
  border-bottom: 1px solid #ebebeb;
}

.restaurant li>a {
  height: 130px;
  display: block;
  width: 100%;
  color: #344644;
  padding: 3px 0px;
  position: relative;
  -webkit-transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
  transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
  text-decoration: none;
}

.restaurant li .img {
  display: block;
  float: left;
  text-align: center;
  width: 110px;
  height: 110px;
  overflow: hidden;
  margin-top: 7px;
}

.restaurant li .restaurant-detail {
  display: block;
  margin-left: 120px;
  margin-top: 5px;
}

.restaurant li .restaurant-detail>.establishment {
  display: block;
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase
}

.restaurant li .restaurant-detail>.name {
  display: block;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.restaurant li .restaurant-detail>.subzone {
  display: block;
  font-weight: 500;
  padding-bottom: 1px;
  font-size: 12px;
}

.restaurant li .restaurant-detail>.address {
  display: block;
  font-weight: 300;
  padding-bottom: 1px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.restaurant li .restaurant-detail>.cost {
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
}

.restaurant li .restaurant-detail>.time {
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
}

.data-loading {
  display: block;
  text-align: center;
  border: 0;
  font-size: 5rem;
}

